.passive-messenger {
    background: #607D8B;
    color: #FFF;
    position: fixed;
    width: 700px;
    left: 50%;
    bottom: 50px;
    margin-left: -350px;
    padding: 10px;
    z-index: 200;
    box-shadow: 0 2px 10px;
   -webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 2px 10px rgba(0,0,0,0.75);
    transition: background-color 0.1s, opacity 0.3s, visibility 0.3s;
    min-height: 30px;
    visibility: hidden;
    opacity: 0.0;
    z-index: 5000;
    font-size: 18px;
    /* standard syntax */
    animation: mymove 0.19s 1;
    animation-timing-function: linear;
    /* Chrome, Safari, Opera */
    -webkit-animation: mymove 0.19s 1;
    -webkit-animation-timing-function: linear;
}

/* standrad syntax */
@keyframes mymove {
    from {bottom: 0px;}
    to {bottom: 50px;}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    from {bottom: 0px;}
    to {bottom: 50px;}
}

.passive-messenger.show{
    opacity: 1.0;
    visibility: visible;
}

.passive-messenger .close{
    float: left;
    top: 0;
    margin-right: 5px;
}

.passive-messenger span {
    margin-left: 10px;
}

.passive-messenger a {
    float: right;
    margin-right: -22px;
    border-left: 1px solid rgba(127, 127, 127, 0.3);
    padding-left: 10px;
}

/* Message box status colors */


.message-success {
    background: #43a047 !important;
}

.message-error {
    background: #d32f2f !important;
}

.message-warning {
    background: #ffb300 !important;
}

.close {
    background: #607D8B;
    border: 0;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: white;
    font-size: 14px;
    margin-left: 10px;
    width: 25px;
    height: 25px;
    transition: 0.2s ease;
}

.close:hover {
    background: #448AFF;
}

