<!doctype html>
<html>
<head>
  <title>CarE Rental</title>
  <!--Import materialize.css-->
  <!-- <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.blue_grey-blue.min.css" /> -->
  <!-- <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script> -->
  <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> -->
  <link rel="stylesheet" href="/ng/components/lumx/dist/lumx.css">
  <link rel="stylesheet" href="/ng/components/lumx/google-fonts.css">
  <link rel="stylesheet" href="/ng/components/cs-angular-utilities/passive-messenger.css" type="text/css">
  <link rel="stylesheet" href="/ng/components/angular-ui-select/dist/select.css" type="text/css">
  <script src="/ng/components/jquery/jquery.min.js"></script>
</head>
<body ng-app="admin">
  <div x-passive-messenger></div>

<!--  <div flex-item>
        <div class="card bgc-blue-grey-500 tc-white-1 p+">
            CarE Rental
        </div>
</div> -->

<div class="card bgc-blue-grey-500" style="color:white">
    <div class="toolbar">
        <div class="toolbar__left mr+++">
            <button class="btn btn--l btn--white btn--icon" lx-ripple>
                <i class="mdi mdi-menu"></i>
            </button>
        </div>

        <span class="toolbar__label fs-title">CarE Rental</span>

        <div class="toolbar__right">
            <lx-search-filter closed theme="dark"></lx-search-filter>

            <lx-dropdown position="right" from-top >
                <button class="btn btn--l btn--white btn--icon" lx-ripple lx-dropdown-toggle>
                    <i class="mdi mdi-dots-vertical"></i>
                </button>

                <lx-dropdown-menu>
                    <ul>
                        <li><a class="dropdown-link">Action</a></li>
                        <li><a class="dropdown-link">Another action</a></li>
                        <li><a class="dropdown-link">Something else here</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-link dropdown-link--is-header">Header</a></li>
                        <li><a class="dropdown-link">Separated link</a></li>
                    </ul>
                </lx-dropdown-menu>
            </lx-dropdown>
        </div>
    </div>
</div>





  <!-- Main Content -->


  <div ng-view></div>
    <!-- Angular -->
<!--     <script src="/ng/components/angular/angular.min.js"></script>
    <script src="/ng/components/angular-route/angular-route.min.js"></script>
    <script src="/ng/components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/ng/components/moment/min/moment.min.js"></script> -->
    <!-- LumX -->
    <script src="/ng/components/jquery/dist/jquery.js"></script>
    <script src="/ng/components/velocity/velocity.js"></script>
    <script src="/ng/components/moment/min/moment-with-locales.js"></script>
    <script src="/ng/components/angular/angular.js"></script>
    <script src="/ng/components/angular-route/angular-route.min.js"></script>
    <script src="/ng/components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/ng/components/lumx/dist/lumx.js"></script>

    <!-- CS Utilities -->
    <script src="/ng/components/cs-angular-utilities/loading.js"></script>
    <script src="/ng/components/cs-angular-utilities/pubsub.js"></script>
    <script src="/ng/components/cs-angular-utilities/modal.js"></script>
    <script src="/ng/components/cs-angular-utilities/passive-messenger.js"></script>
    <script src="/ng/components/angular-ui-select/dist/select.js"></script>
    <!-- <script src="/ng/components/materialize/angular-materialize.js"></script> -->
    <!-- Application Code -->
    <script src="/ng/admin/module.js"></script>
    <script src="/ng/admin/routes.js"></script>

    <!-- requests -->
    <script src="/ng/admin/requests/requests.rest.js"></script>
    <script src="/ng/admin/requests/certificates.rest.js"></script>
    <script src="/ng/admin/requests/requests.model.js"></script>
    <script src="/ng/admin/requests/requests.controller.js"></script>

</body>
</html>
