<!-- <button class="btn btn--m btn--black btn--flat" ng-click="user.model.opendDialog('test')" lx-ripple>Open dialog</button>

<lx-dialog class="dialog dialog--l" id="test" auto-close="true" onclose="user.model.closingDialog()" onscrollend="scrollEndDialog()">
    <div class="dialog__header">
        <div class="toolbar bgc-blue-grey-500 pl++">
            <span class="toolbar__label tc-white fs-title">
                Register
            </span>

            <div class="toolbar__right">
                <span class="btn btn--l btn--white btn--icon">
                    <i class="mdi mdi-account"></i>
                </span>
            </div>
        </div>
    </div>

    <div class="dialog__content">
<div flex-container="row" flex-gutter="24">

<div class="g-signin2" data-onsuccess="onSignIn"></div>
    <div flex-item>
        <div class="card tc-blue-500 p+">
            <p>Use social media for quick access</p>
        </div>


    </div>
</div>
</div>
    </div>

    <div class="dialog__actions">
        <button class="btn btn--m btn--black btn--flat" lx-ripple lx-dialog-close>Cancel</button>
        <button class="btn btn--m btn--black btn--flat" lx-ripple>Lorem Ipsum</button>
    </div>
</lx-dialog>
 -->
<script src="https://apis.google.com/js/platform.js" async defer></script>
  <meta name="google-signin-client_id" content="387750085819-5eid7rok0df3bct6nbskjlout21o1gdq.apps.googleusercontent.com">

<div class="g-signin2" data-onsuccess="onSignIn"></div>
<div>Facebook sign in here</div>

<script type="text/javascript">
function onSignIn(googleUser) {
  var profile = googleUser.getBasicProfile();
  console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
  console.log('Name: ' + profile.getName());
  console.log('Image URL: ' + profile.getImageUrl());
  console.log('Email: ' + profile.getEmail());
  var image = document.createElement('IMG');
  image.src = profile.getImageUrl();
  var parent = document.getElementById('image');
  parent.appendChild(image);
}

</script>

<div id="image"></div>


<a href="#" onclick="signOut();">Sign out</a>
<script>
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
</script>

<!--

<script src='https://www.google.com/recaptcha/api.js'></script>

<div class="g-recaptcha" data-sitekey="6LdKYRQTAAAAANT1G2wcvssO-S_F-GOf35uqKLRC"></div>
 -->
