<div class="card bgc-blue-grey-500" style="color:white">
  <div class="toolbar">
    <div class="toolbar__left mr+++">
      <button class="btn btn--l btn--white btn--icon" lx-ripple>
        <i class="mdi mdi-menu"></i>
      </button>
    </div>

    <span class="toolbar__label fs-title">CarE Rental</span>
    <span class="toolbar__label fs-body-2 display-block" ng-bind="hi + user.model.auth.profile.name"></span>

    <div class="toolbar__right">
      <lx-search-filter closed theme="dark"></lx-search-filter>

      <lx-dropdown position="right" from-top >
          <button class="btn btn--l btn--white btn--icon" lx-ripple lx-dropdown-toggle>
              <i class="mdi mdi-dots-vertical"></i>
          </button>

          <lx-dropdown-menu>
            <ul>
              <li><a class="dropdown-link" ng-click="rent.model.to_home()">Home</a></li>
              <li><a class="dropdown-link" ng-click="rent.model.to_account()">Account</a></li>
              <li class="dropdown-divider"></li>
              <li><a class="dropdown-link" ng-click="rent.model.social_logout()">Log Out</a></li>
            </ul>
          </lx-dropdown-menu>
      </lx-dropdown>
    </div>
  </div>
</div>


<div class="card" style="width: 60%; margin-left: 30%;">


    <div flex-item="6" class="mt++">

        <ul class="list mt++" ng-repeat="v in rent.model.rentals.items">
        <span class="fs-title display-block mb" ng-bind="'&nbsp;&nbsp;&nbsp;'+ v.car_model"></span>

        <div class="divider divider--dark"></div>
            <li class="list-row list-row--multi-line list-row--has-separator">
                <div class="list-row__primary" style="width:150px;">
                    <img src="http://image.automobilemag.com/f/135520079+w660+h440+q80+re0+cr1+ar0+st0/furnace-red.png" width="150" height="80">
                </div>

                <div class="list-row__content">
                    <span class="display-block">Pick-Up</span>
                    <span class="display-block fs-body-1 tc-black-2" ng-bind="'Place: ' + v.pickup_place"></span>
                    <span class="display-block fs-body-1 tc-black-2"
                      ng-bind="'Date: ' + v.pickup_date.month + '/' + v.pickup_date.day + '/' + v.pickup_date.year"></span>
                    <span class="display-block fs-body-1 tc-black-2" ng-bind="'Time: ' + v.pickup_time"></span>

                    <span class="display-block">Drop-off</span>
                    <span class="display-block fs-body-1 tc-black-2" ng-bind="'Place: ' + v.drop_location"></span>
                    <span class="display-block fs-body-1 tc-black-2"
                      ng-bind="'Date: ' + v.dropoff_date.month + '/' + v.dropoff_date.day + '/' + v.dropoff_date.year"></span>
                    <span class="display-block fs-body-1 tc-black-2" ng-bind="'Time: ' + v.dropoff_time"></span>


                </div>

<!--                  <div class="list-row__content">
                    <span class="display-block">Vendor</span>
                    <span class="display-block fs-body-1 tc-black-2" ng-bind="v.vendor.id"></span>
                    <span class="display-block fs-body-1 tc-black-2" ng-bind="v.location"></span>
                </div> -->
                 <div class="list-row__content">
                    <span class="display-block">Vendor</span>
                    <span class="display-block fs-body-1 tc-black-2" ng-bind="'Company:' + v.company"></span>
                    <span class="display-block fs-body-1 tc-black-2" ng-bind="'Amount: P' + v.amount"></span>
                    <span class="display-block fs-body-1 tc-black-2" ng-show="v.approved">
                      <star-rating ng-model="v.rating" ng-click="rent.model.rateFunction(v.key.urlsafe, v.rating, v.vendor)"></star-rating>
                    </span>
                    <button class="btn btn--l btn--blue btn--fab" lx-ripple lx-tooltip="Rent this car" ng-click="rent.model.rent(v.key.urlsafe)">
                    <i class="mdi mdi-bookmark-check"></i>
                    </button>
                </div>

   <!--              <div class="list-row__secondary">
                    <i class="icon icon--xs icon--grey icon--flat mdi mdi-information"></i>
                </div> -->
            </li>
        </ul>
    </div>



        <style>
      /* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */
      .star-rating {
  margin: 0;
  padding: 0;
  display: inline-block;
}
.star-rating .star {
  padding: 1px;
  color: #ddd;
  font-size: 20px;
  text-shadow: .05em .05em #aaa;
  list-style-type: none;
  display: inline-block;
  cursor: pointer;
}
.star-rating .star.filled {
  color: #fd0;
}
.star-rating.readonly .star.filled {
  color: #666;
}

    </style>

<!--
<div class="container">
  <star-rating ng-model="rent.model.rating" ng-click="rent.model.rateFunction(rent.model.rating)"></star-rating>
  <div ng-bind="'Rating: '+ rent.model.rating"></div>
</div>
 -->



<div class="loader-overlay" loading="rent.model.loading">
  <div id="progress" class="prog-overlay">
  </div>
</div>
