<!doctype html>
<html>
<head>
  <title>CarE Rental</title>
  <link rel="stylesheet" href="/ng/components/lumx/dist/lumx.css">
  <link rel="stylesheet" href="/ng/components/lumx/google-fonts.css">
  <link rel="stylesheet" href="/ng/components/cs-angular-utilities/passive-messenger.css" type="text/css">
  <link rel="stylesheet" href="/ng/components/angular-ui-select/dist/select.css" type="text/css">
  <script src="/ng/components/jquery/jquery.min.js"></script>

</head>
<body ng-app="app">
  <!-- <div x-passive-messenger></div> -->





  <!-- Main Content -->
<div class="card bgc-blue-grey-500" style="color:white">
    <div class="toolbar">
        <div class="toolbar__left mr+++">
            <button class="btn btn--l btn--white btn--icon" lx-ripple>
                <i class="mdi mdi-menu"></i>
            </button>
        </div>

        <span class="toolbar__label fs-title">CarE Rental</span>

        <div class="toolbar__right">
            <lx-search-filter closed theme="dark"></lx-search-filter>

            <lx-dropdown position="right" from-top >
                <button class="btn btn--l btn--white btn--icon" lx-ripple lx-dropdown-toggle>
                    <i class="mdi mdi-dots-vertical"></i>
                </button>

                <lx-dropdown-menu>
                    <ul>
                        <li><a class="dropdown-link">Action</a></li>
                        <li><a class="dropdown-link">Another action</a></li>
                        <li><a class="dropdown-link">Something else here</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-link dropdown-link--is-header">Header</a></li>
                        <li><a class="dropdown-link">Separated link</a></li>
                    </ul>
                </lx-dropdown-menu>
            </lx-dropdown>
        </div>
    </div>
</div>

  <div ng-view></div>

<!-- users -->
 <script type="text/javascript">
  var active_user = {{active_user}};
  </script>

    <script src="/ng/components/jquery/dist/jquery.js"></script>
    <script src="/ng/components/velocity/velocity.js"></script>
    <script src="/ng/components/moment/min/moment-with-locales.js"></script>
    <script src="/ng/components/angular/angular.js"></script>
    <script src="/ng/components/angular-route/angular-route.min.js"></script>
    <!-- We use client cookies to save the user credentials -->
<script src="//code.angularjs.org/1.2.16/angular-cookies.min.js"></script>

<!-- Auth0 Lock script and AngularJS module -->
<script src="//cdn.auth0.com/js/lock-7.12.min.js"></script>
<!-- angular-jwt and angular-storage -->
<script type="text/javascript" src="//cdn.rawgit.com/auth0/angular-storage/master/dist/angular-storage.js"></script>
<script type="text/javascript" src="//cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js"></script>

<script src="//cdn.auth0.com/w2/auth0-angular-4.js"> </script>
    <script src="/ng/components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/ng/components/lumx/dist/lumx.js"></script>
    <script src="/ng/components/fb.js"></script>
    <sc

    <!-- CS Utilities -->
    <script src="/ng/components/cs-angular-utilities/loading.js"></script>
    <script src="/ng/components/cs-angular-utilities/pubsub.js"></script>
    <script src="/ng/components/cs-angular-utilities/modal.js"></script>
    <script src="/ng/components/cs-angular-utilities/passive-messenger.js"></script>
    <script src="/ng/components/angular-ui-select/dist/select.js"></script>
    <!-- <script src="/ng/components/materialize/angular-materialize.js"></script> -->
    <!-- Application Code -->
      <script src="/ng/app/module.js"></script>
    <script src="/ng/app/routes.js"></script>


    <!-- active user -->
    <script src="/ng/app/user/active_user.js"></script>
    <script src="/ng/app/user/user.controller.js"></script>



</body>
</html>
