<div class="card bgc-blue-grey-500" style="color:white">
  <div class="toolbar">
    <div class="toolbar__left mr+++">
      <button class="btn btn--l btn--white btn--icon" lx-ripple>
        <i class="mdi mdi-menu"></i>
      </button>
    </div>

      <span class="toolbar__label fs-title">CarE Rental</span>
      <span class="toolbar__label fs-body-2 display-block" ng-bind="hi + user.model.auth.profile.name"></span>

    <div class="toolbar__right">
      <lx-search-filter closed theme="dark"></lx-search-filter>

      <lx-dropdown position="right" from-top >
          <button class="btn btn--l btn--white btn--icon" lx-ripple lx-dropdown-toggle>
              <i class="mdi mdi-dots-vertical"></i>
          </button>

          <lx-dropdown-menu>
            <ul>
              <li><a class="dropdown-link" ng-click="home.model.to_my_rentals()">My Rentals</a></li>
              <li><a class="dropdown-link" ng-click="home.model.to_account()">Account</a></li>
              <li class="dropdown-divider"></li>
              <li><a class="dropdown-link" ng-click="home.model.social_logout()">Log Out</a></li>
            </ul>
          </lx-dropdown-menu>
      </lx-dropdown>
    </div>
  </div>
</div>




<center ng-show="home.model.searchbox_show">
  <div class="card" style="width: 50%;">
    <div class="p+">

        <div class="paragraph fs-body-1 mt+">
            <p>
              <lx-text-field label="Location" fixed-label="true" icon="map-marker">
              <input type="text" ng-model="home.model.query.pickup_place" class="car_model">
              </lx-text-field>

              <div class="switch">
              <input type="checkbox" id="switch1" class="switch__input" switcher>
              <label for="switch1" class="switch__label" style="margin-right:50%;">Drop-off at different location</label>
              </div>

              <lx-text-field label="Drop-Off Location" fixed-label="true" icon="map-marker" ng-show="home.model.diff_location">
              <input type="text" ng-model="home.model.query.drop_location" class="car_model">
              </lx-text-field>


              <div class="mt+">
                <lx-date-picker model="home.model.query.pickup_date" label="Pick-Up Date" locale="en" fixed-label="true" icon="calendar"></lx-date-picker>

                <lx-select ng-model="home.model.query.pickup_time" placeholder="Pick-Up Time" choices="home.model.times" style="border-left: white 70px solid;">
                <lx-select-selected>
                {{ $selected }}
                </lx-select-selected>

                <lx-select-choices>
                {{ $choice }}
                </lx-select-choices>
                </lx-select>


                <lx-date-picker model="home.model.query.dropoff_date" label="Drop-Off Date" locale="en" fixed-label="true" icon="calendar"></lx-date-picker>

                <lx-select ng-model="home.model.query.dropoff_time" placeholder="Drop-Off Time" choices="home.model.times" style="border-left: white 70px solid;">
                <lx-select-selected>
                {{ $selected }}
                </lx-select-selected>

                <lx-select-choices>
                {{ $choice }}
                </lx-select-choices>
                </lx-select>


              </div>


            </p>
        </div>
    </div>

    <br/>
    <div class="card__actions">
        <button class="btn btn--m btn--blue btn--raised" lx-ripple ng-click="home.model.search()">Search
        <i class="mdi mdi-magnify"></i></button>
    </div>
  </div>
</center>



<div class="card" style="width: 60%; margin-left: 30%;" ng-hide="home.model.searchbox_show">


    <div flex-item="6" class="mt++">
        <!-- <span class="fs-title display-block mb">&nbsp;&nbsp;Display Category | Car Model here</span> -->

        <ul class="list mt++" ng-repeat="v in home.model.search_results.items">
        <span class="fs-title display-block mb" ng-bind="'&nbsp;&nbsp;&nbsp;'+ v.car_model"></span>

        <div class="divider divider--dark"></div>
            <li class="list-row list-row--multi-line list-row--has-separator">
                <div class="list-row__primary" style="width:150px;">
                    <img src="http://image.automobilemag.com/f/135520079+w660+h440+q80+re0+cr1+ar0+st0/furnace-red.png" width="150" height="80">
                </div>

                <div class="list-row__content">
                    <span class="display-block">Specs</span>
                     <i class="icon icon--xs icon--grey icon--flat mdi mdi-account" ng-bind="v.seats + 'adults'"></i>
                     <i class="icon icon--xs icon--grey icon--flat mdi mdi-quadcopter" ng-if="v.transmission" ng-bind="v.transmission"></i>
                     <!-- <span ng-if="v.air_conditioned"></span> -->
                     <i class="icon icon--xs icon--grey icon--flat mdi mdi-fan" ng-if="v.air_conditioned">Airconed</i>
                     <i class="icon icon--xs icon--grey icon--flat mdi mdi-weight" ng-if="v.trunk_capacity" ng-bind="v.trunk_capacity"></i>
                     <i class="icon icon--xs icon--grey icon--flat mdi mdi-speedometer" ng-if="v.mileage" ng-bind="v.mileage + ' mileage'"></i>
                     <br/>
                     <i class="icon icon--xsp icon--grey icon--flat mdi mdi-calendar-today" ng-if="v.age" ng-bind="v.age +'y/o'"></i>
                </div>

                 <div class="list-row__content">
                    <span class="display-block">Vendor</span>
                    <span class="display-block fs-body-1 tc-black-1" ng-bind="v.vendor.id"></span>
                    <span class="display-block fs-body-1 tc-black-1" ng-bind="v.location"></span>
                </div>

                 <div class="list-row__content">
                    <span class="display-block">Pricing</span>
                    <span class="display-block fs-body-1 tc-black-1" ng-bind="'Per day: P'+ v.price"></span>
                    <span class="display-block fs-body-1 tc-black-1" ng-bind="'Total: P'+ v.total_amount"></span>
                    <button class="btn btn--l btn--blue btn--fab" lx-ripple lx-tooltip="Rent this car" ng-click="home.model.rent(v.key.urlsafe, v.total_amount)">
                    <i class="mdi mdi-bookmark-check"></i>
                    </button>
                </div>

   <!--              <div class="list-row__secondary">
                    <i class="icon icon--xs icon--grey icon--flat mdi mdi-information"></i>
                </div> -->
            </li>
        </ul>
    </div>
</div>

<br/>
<br/>
