<div class="card bgc-blue-grey-500" style="color:white">
  <div class="toolbar">
    <div class="toolbar__left mr+++">
      <button class="btn btn--l btn--white btn--icon" lx-ripple>
        <i class="mdi mdi-menu"></i>
      </button>
    </div>

    <span class="toolbar__label fs-title">CarE Rental</span>
    <span class="toolbar__label fs-body-2 display-block" ng-bind="hi + user.model.auth.profile.name"></span>

    <div class="toolbar__right">
      <lx-search-filter closed theme="dark"></lx-search-filter>

      <lx-dropdown position="right" from-top >
          <button class="btn btn--l btn--white btn--icon" lx-ripple lx-dropdown-toggle>
              <i class="mdi mdi-dots-vertical"></i>
          </button>

          <lx-dropdown-menu>
            <ul>
              <li><a class="dropdown-link" ng-click="bk.model.bookings()">Booking Requests</a></li>
              <li><a class="dropdown-link" ng-click="bk.model.account()">Account</a></li>
              <li><a class="dropdown-link" ng-click="bk.model.download_template()">Download File template</a></li>
            </ul>
          </lx-dropdown-menu>
      </lx-dropdown>
    </div>
  </div>
</div>

<table class="data-table">
  <thead>
    <tr>
       <th>
        <i class="mdi mdi-account"></i>
        <span>Renter</span>
      </th>
      <th>
        <div></div>
      </th>
      <th>
        <i class="mdi mdi-car"></i>
        <span>Car</span>
      </th>
      <th>
        <i class="mdi mdi-map-marker"></i>
        <span>Pick-up Location</span>
      </th>
      <th>
        <i class="mdi mdi-calendar-today"></i>
        <span>Pick-up Date</span>
      </th>

      <th>
        <i class="mdi mdi-calendar-clock"></i>
        <span>Pick-up Time</span>
      </th>
      <th>
        <i class="mdi mdi-format-list-bulleted"></i>
        <span>Full details</span>
      </th>
    </tr>
  </thead>
  <tbody ng-repeat="v in bk.model.pending_requests.items">
    <tr>
      <td>
        <div class="checkbox">
        <input type="checkbox" id="{{v.car.id}}" class="checkbox__input" ng-click="bk.model.choose(v.key.urlsafe)">
        <label for="{{v.car.id}}" class="checkbox__label" ng-bind="v.renter.id"></label>
        </div>
      </td>
      <td ng-bind="v.seats"></td>
      <td ng-bind="v.car.id"></td>
      <td ng-bind="v.pickup_place"></td>
      <td ng-bind="v.pickup_date.month + '/' + v.pickup_date.day + '/' + v.pickup_date.year"></td>
      <td ng-bind="v.pickup_time"></td>
      <td ng-click="bk.model.view(v.key.urlsafe)" style="cursor: pointer"><i class="mdi mdi-file-multiple"></i>
      <span>View</span>
      </td>
    </tr>
  </tbody>
</table>
<br/>

<div class="dialog__actions" style="margin-right: 5%;">
  <button class="btn btn--xl btn--blue btn--fab" lx-ripple ng-click="db.model.upload_modal()"><i class="mdi mdi-plus"></i></button>
  <button class="btn btn--xl btn--red btn--fab" lx-ripple ng-click="db.model.remove()" ng-disabled="db.model.checker()"><i class="mdi mdi-delete"></i></button>
</div>


<br/>
<br/>


<div class="loader-overlay" loading="bk.model.loading">
  <div id="progress" class="prog-overlay">
  </div>
</div>



<!-- modal for full details -->
<lx-dialog class="dialog dialog--l" id="full_details" auto-close="true" onclose="bk.model.closingDialog()" onscrollend="scrollEndDialog()">
  <div class="dialog__header">
    <div class="toolbar bgc-light-blue-500 pl++">
      <span class="toolbar__label tc-white fs-title">
        Renter
      </span>
      <div class="toolbar__right">
          <button class="btn btn--l btn--white btn--icon" lx-ripple lx-dialog-close ng-click="db.model.diag_close()">
            <i class="mdi mdi-close"></i>
          </button>
      </div>
    </div>
  </div>

  <div style="border-left: white 50px solid; border-right: white 50px solid;">
    <div class="mt++" flex-container="row" flex-gutter="23">
      <div flex-item>
        <form>
          <lx-text-field label="Seats" fixed-label="true" icon="account">
          <input type="text" ng-model="bk.model.selected_.renter.id" disabled>
          </lx-text-field>

          <lx-text-field label="Seats" fixed-label="true" icon="car">
          <input type="text" ng-model="bk.model.selected_.car.id" disabled>
          </lx-text-field>

          <lx-text-field label="Seats" fixed-label="true" icon="map-marker">
          <input type="text" ng-model="bk.model.selected_.pickup_place" disabled>
          </lx-text-field>

          <div>&nbsp;
            <i class="icon icon--s icon--grey icon--flat mdi mdi-calendar-today"></i>
            <span style="margin-left:3%"
              ng-bind="bk.model.selected_.pickup_date.month + '/' + bk.model.selected_.pickup_date.day + '/' + bk.model.selected_.pickup_date.year">
              </span>
          </div>

          <lx-text-field label="Seats" fixed-label="true" icon="calendar-clock">
          <input type="text" ng-model="bk.model.selected_.pickup_time" disabled>
          </lx-text-field>

          <lx-text-field label="Seats" fixed-label="true" icon="map-marker-circle">
          <input type="text" ng-model="bk.model.selected_.drop_location" disabled>
          </lx-text-field>

          <div>&nbsp;
            <i class="icon icon--s icon--grey icon--flat mdi mdi-calendar-check"></i>
            <span style="margin-left:3%"
              ng-bind="bk.model.selected_.dropoff_date.month + '/' + bk.model.selected_.dropoff_date.day + '/' + bk.model.selected_.dropoff_date.year">
              </span>
          </div>

          <lx-text-field label="Drop-off Tinme" fixed-label="true" icon="calendar-clock">
          <input type="text" ng-model="bk.model.selected_.dropoff_time" disabled>
          </lx-text-field>

          <lx-text-field label="Total Amount" fixed-label="true" icon="coin">
          <input type="text" ng-model="bk.model.selected_.amount" disabled>
          </lx-text-field>

          <lx-text-field label="Request Code" fixed-label="true" icon="qrcode">
          <input type="text" ng-model="bk.model.selected_.request_code" disabled>
          </lx-text-field>

        </form>


      </div>
    </div>
  </div>
  <br/>

  <div class="dialog__actions">
    <button class="btn btn--l btn--grey btn--raised" lx-ripple ng-click="bk.model.reject_booking(bk.model.selected_.key.urlsafe)" lx-tooltip="Reject booking">
      <i class="mdi mdi-close-box-outline"></i>
    </button>
    <button class="btn btn--l btn--blue btn--raised" lx-ripple ng-click="bk.model.approve_booking()" lx-tooltip="Accept booking">
      <i class="mdi mdi-checkbox-marked-circle-outline"></i>
    </button>

    </div>

</lx-dialog>
